* {
	padding: 0%; /* espacio hacia adentro del elemento*/
	margin: 0%; /* espacio hacia afuera de cada elemento*/
	/*border: solid 1px #000; /* (tipoDeBorde, ancho, color) */
}

/* name-etiqueta: referenciar a etiqueta */
body {
	/*background-color: rgb(100, 255, 150); /* color de fondo */
	font-family: Arial, Helvetica, sans-serif; /* tipografia */
	font-size: 18px; /* tamaño de letra en pixeles */
}

header {
	background-image: url(../img/bradcam.png); /* poner imagen de fondo */
	background-size: 100% 100%; /* pide tamaño en el eje X y en el eje Y */
	background-position: center center;
	background-repeat: no-repeat; /* la imagen no se repite */
	height: 100vh; /* vh:view Heigth, la imagen se redimenciona con el navegador */
	color: white; /* color del texto */
}

/* #:referencia a id de etiqueta */
#container-main header #menu-header {
	padding: 50px; /* valor global-> arriba,abajo,izquierda,derecha*/
	padding: 50px 0px; /* arriba=abajo:50px, izquierda=derecha=0px */
}

header #menu-header ul {
	margin: 0px;
	padding: 0px;
}

header #menu-header ul li {
	/* TODOS LOS 'LI' EN LINEA */
	display: inline-block; /* lista en linea y no debajo(muestra los elems en linea) */
	padding: 10px; /* espacio interior */
	vertical-align: middle; /* para q mis elementos esten al medio entre arriba y abajo */
}

header #menu-header ul li a {
	display: inline-block; /* lista en linea y no debajo(muestra los elems en linea) */
}

header #menu-header ul li a {
	color: white; /* color del texto */
	text-decoration: none; /* para quitar la decoracion del link */
}

header #menu-header ul li a:hover {
	/* hover: atributo de estado */
	text-decoration: underline; /* para add decoration in link */
}

header #menu-header ul #logo-header {
	margin-left: 100px; /* espacio a la izquierda */
	margin-right: 40%; /* espacio a la derecha */
}

/* *******************************BODY****************************** */

#container-main header main {
	width: 1400px; /* ancho=1400px */
	margin: 0 auto; /* arriba=abajo=0, izquierda=derecha=automaticoConNavegadorCentrado */
}

#container-main header main div {
	/* TODOS LOS 'DIV' EN LINEA */
	display: inline-block; /* todo en linea */
	vertical-align: middle; /* todo centrado de arriba-abajo */
}

#container-main header main .text h1 {
	font-size: 80px; /* tamaño de H1=80px */
}

#container-main header main .text p {
	font-size: 24px; /* tamaño de H1=80px */
	padding: 20px 0; /* espacio arriba=abajo=20px derecha=izquierda=0 */
}

button {
	background-color: #24d9e6; /* color del boton */
	border: 0; /* boton sin borde */
	border-radius: 3px; /* esquinas del boton */
	color: white; /* color del texto blanco */
	cursor: pointer; /* propiedad para que salga la manita */
	font-size: 24px; /* tamaño de la letra */
	padding: 20px 25px; /* 20px=arriba=abajo, 25=izq=der INTERIOR */
	margin: 40px 0; /* 40px=arriba=abajo, 0=izq=der AFUERA */
}

button:hover {
	background-color: #14929b;
}

#container-main header main .image {
	text-align: right; /* alinea el contenido dentro de una capa a la izq, der, center */
	width: 700px; /* espacio arriba=abajo=20px derecha=izquierda=0 */
}

/*****************************CARDS***********************************/

.layout {
	width: 1280px; /* ancho que ocuparan los dos cards */
	margin: 250px auto; /* 250px=arriba=abajo, auto=izq=der AFUERA DEL ELEM */
}

.layout div {
	display: inline-block;
	vertical-align: middle;
}

.layout h3 {
	font-size: 48px;
	padding: 25px 0;
}

.layout p {
	padding: 25px 0;
	line-height: 32px; /* espacios entre textos interlineado */
}

.layout-left .text {
	width: 500px;
}

.layout-left .image {
	width: 770px;
	text-align: right;
}

.layout-right .text {
	width: 500px;
}

.layout-right .image {
	width: 770px;
	text-align: center;
}

/*******************FOOTER********************/

footer {
	background-color: black;
	padding: 150px 20px;
	color: white;
	text-align: center;
}

/**/
